body {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Raleway";
}

h1,
h2,
h3 {
  font-family: "Caveat";
  color: rgb(170, 61, 79);
}

body {
  color: rgb(186, 100, 114);
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

header,
footer {
  background-color: rgb(217, 154, 165);
  align-items: center;
  color: rgb(170, 61, 79);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


header .wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-container {
  min-height: 60vh;
  background-image: url("/assets/cute-bg.jpg");
  background-position: center;
  background-size: cover;
}

.menu-button {
  background: none;
  border: none;
  outline-color: rgb(170, 61, 79);
  cursor: pointer;
}

.menu-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 20px;
  background-color: rgb(217, 154, 165);
  color: #aa3d4f;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
}

.menu {
  position: static;
  max-width: 100%;
  opacity: 1;
  background: transparent;
  color: #aa3d4f;
}

.menu a {
  color: #aa3d4f;
}

.menu-wrapper.open {
  padding-inline: 20px;
  max-width: 100%;
  opacity: 1;
}

.menu-wrapper.open+.menu-backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aa3d4f;
  opacity: .25;
}

.menu-wrapper .menu-button {
  float: right;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
}

#home img {
  width: 50px;
  height: 50px;
}

h1+img {
  height: 50px;
  width: 50px;
}

.preference-image {
  height: 20px;
  width: 20px;
}

.divider {
  margin-top: 10px;
  height: 25px;
  background-size: contain;
  background-image: url("../assets/divider.png");
}

#previous {
  background-image: url("../assets/pixel-arrow-previous.png");
}

#next {
  background-image: url("../assets/pixel-arrow-next.png");
}

main {
  padding: 20px;
  box-sizing: border-box;
}

.card {
  border: 1px solid pink;
}

.card-image {
  border-bottom: 1px solid pink;
}

.soft-skill,
.soft-skills-title-wrapper {
  border: 1px solid #aa3d4f;
}

.soft-skill::before {
  margin-right: 3px;
}

.left-part .soft-skill:after,
.right-part .soft-skill::before {
  background-color: #aa3d4f;
}

.i-love-item::marker {
  content: "✨";
}

.soft-skills {
  width: 100%;
  background: #fff;
  color: rgb(186, 100, 114);
  transform: none;
}

.soft-skills h2 {
  color: rgb(186, 100, 114);
}

.project-card:nth-child(2n+1) {
  border: 1px solid #cb5b6e;
  background: linear-gradient(#cb5b6e, rgb(207, 138, 149));
}

.project-card:nth-child(2n+1) .card-title,
.project-card:nth-child(2n+1) .card-content,
.project-card:nth-child(2n+1) .card-links,
.project-card:nth-child(2n+1) .card-link {
  color: white;
}

.animated {
  transform: none;
  opacity: 1;
}