@import url("./sitestyle.css");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

h1 {
    color: #104C6E;
}

img {
    width: 100vw;
    max-height: 50vh;
}