<% if(lang==="ru") { %>
<ul>
  <li>Мне 18 лет</li>
  <li>Я живу в Москве</li>
  <li>Хочу стать frontend-, а позднее fullstack-разработчиком</li>
  <li>Учусь в РТУ МИРЭА на 1 курсе</li>
</ul>
<% } else { %>
<ul>
  <li>I'm 18 years old</li>
  <li>I live in Moscow</li>
  <li>I want to become frontend, then fullstack developer</li>
  <li>I'm first-year student of MIREA - Russian Technological University</li>
</ul>
<% } %>