<% if(lang==="ru") { %>
<ul>
  <li>Мне 17 лет</li>
  <li>Я живу в Москве</li>
  <li>Хочу стать frontend-, а позднее fullstack-разработчиком</li>
</ul>
<% } else{ %>
<ul>
  <li>I'm 17 years old</li>
  <li>I live in Moscow</li>
  <li>I want to become frontend, then fullstack developer</li>
</ul>
<% } %>