 <% if(lang==="ru") { %>
 <h2>Содержание</h2>
 <ol>
   <li><a href="#about-me">О себе</a></li>
   <li><a href="#i-love">Я люблю...</a></li>
   <li><a href="#hard-skills">Hard skills</a></li>
   <li><a href="#soft-skills">Soft skills</a></li>
   <li><a href="#my-projects">Мои проекты</a></li>
   <li><a href="#mockups">Сайты, свёрстанные по чужим макетам</a></li>
   <li><a href="#other-versions">Другие версии сайта</a></li>
   <li><a href="#gallery">Галерея изображений со мной</a></li>
   <li><a href="#copyright">Ссылки на авторов стороннего контента</a></li>
 </ol>
 <% } else { %>
 <h2>Contents</h2>
 <ol>
   <li><a href="#about-me">About me</a></li>
   <li><a href="#i-love">I love...</a></li>
   <li><a href="#hard-skills">Hard skills</a></li>
   <li><a href="#soft-skills">Soft skills</a></li>
   <li><a href="#my-projects">My projects</a></li>
   <li><a href="#mockups">Website that were created with using others' mockups</a></li>
   <li><a href="#other-versions">Other versions</a></li>
   <li><a href="#gallery">Gallery</a></li>
   <li><a href="#copyright">Copyright</a></li>
 </ol>
 <% } %>