  <footer>
    <address>
      <% if (lang === "ru") { %>
      <a href="mailto:ellaksenofontova@gmail.com" class="my-email">Написать мне на почту</a><br />
      ТГ: <a href="https://t.me/bezukhova_stoltz">@bezukhova_stoltz</a><br />
      ВК (захожу очень редко): <a href="https://vk.com/ellaksenofontova">ellaksenofontova</a>
      <% } else { %>
      <a href="mailto:ellaksenofontova@gmail.com" class="my-email">Contact me via email</a><br />
      Telegram: <a href="https://t.me/bezukhova_stoltz">@bezukhova_stoltz</a>
      <% } %>
    </address>
  </footer>