<% if (lang === "ru") { %>
<div class="gallery-images">
  <img src="../assets/img1.jpg" alt="Я в Большом театре" id="1" width="175" height="250">
  <img src="../assets/img2.jpg" alt="Я в красивом пальто" id="2" width="175" height="200">
  <img src="../assets/img3.jpg" alt="Я в Турции" id="3" width="175" height="200">
  <img src="../assets/img4.jpg" alt="Я в красивом бомбере" id="4" width="175" height="200">
  <img src="../assets/img5.jpg" alt="Я очень люблю котиков!" id="5" width="175" height="200">
</div>
<% } else { %>
<div class="gallery-images">
  <img src="../assets/img1.jpg" alt="Me in Bolshoi Theatre" id="1" width="175" height="200">
  <img src="../assets/img2.jpg" alt="Me in beautiful coat" id="2" width="175" height="200">
  <img src="../assets/img3.jpg" alt="Me in Turkey" id="3" width="175" height="200">
  <img src="../assets/img4.jpg" alt="Me in amazing bomber" id="4" width="175" height="200">
  <img src="../assets/img5.jpg" alt="I love cats so much!" id="5" width="175" height="200">
</div>
<% } %>