<% if (lang==="ru") { %>
<ul>
  <li>Хорошо знакома с тремя китами веб-разработки: HTML, CSS и JavaScript, а также с адаптивной вёрсткой.
  </li>
  <li>Знаю React на достаточно глубоком уровне: использовала продвинутые хуки вроде useContext и useEffect.
  </li>
  <li>Изучала SASS и SCSS.</li>
  <li>Работала с Node.js (npm): создавала приложение на React с помощью create-react-app, устанавливала в такое
    приложение пакеты.</li>
  <li>Умею работать с Git.</li>
  <li>Пользовалась сборщиком Vite, а также Webpack.</li>
  <li>Работала с Jekyll и Eleventy.</li>
</ul>
<% } else { %>
<ul>
  <li>I know the basics of web development (HTML, CSS, JS), including responsive design, well.</li>
  <li>I understand React at quite deep level, with an experience of using hooks like useContext and useEffect.
  </li>
  <li>I learnt SASS and SCSS.</li>
  <li>I worked with Node.js (npm): used create-react-app, installed npm packages.</li>
  <li>I can work with Git.</li>
  <li>I use Vite and WEbpack in my projects.</li>
  <li>I worked with Jekyll and Eleventy.</li>
</ul>
<% } %>