<% if (lang==="ru") { %>
<h3>1. Coca</h3>
Сайт компании, оказывающей услуги в области цифрового маркетинга. Написан на английском языке. Макет и
лайв-превью были неполными, поэтому часть проекта мне пришлось "домысливать". Сайт многостраничный, помимо
главной страницы есть следующие разделы:
<ul>
  <li>О компании</li>
  <li>Контакты</li>
  <li>Тарифы</li>
  <li>Блог (вдобавок, есть два поста)</li>
</ul>
Размещён сайт не на Github, а на Vercel, так как есть серверная часть.<br />
При работе над проектом я использовала следующие технологии:
<ul>
  <li>Webpack</li>
  <li>EJS</li>
  <li>Express.js</li>
  <li>Методология БЭМ</li>
  <li>SASS</li>
</ul>
<a href="https://coca-topaz.vercel.app/">Сайт</a> <br>
<a href="https://github.com/Ella-Ksenofontova/coca">Репозиторий</a><br>
<a href="https://verstaem.online/projects/coca/">Источник макета</a>
<h3>2. Aveji</h3>
Простой одностраничный сайт мебельного магазина. <br>
<a href="https://ella-ksenofontova.github.io/aveji">Сайт</a> <br>
<a href="https://github.com/Ella-Ksenofontova/aveji">Репозиторий</a><br>
<a href="https://verstaem.online/projects/aveji/">Источник макета</a>
<h3>3. Armata Financial Group</h3>
Одностраничный сайт, сделанный по очень старому туториуалу. Неудивительно, что при его создании мне пришлось использовать устаревшие технологии, такие как jQuery. Но выглядит неплохо.<br>
<a href="https://ella-ksenofontova.github.io/armataFG">Ссылка на страницу</a> <br>
<a href="https://github.com/Ella-Ksenofontova/armataFG">Ссылка на репозиторий</a><br>
<a href="https://www.youtube.com/watch?v=Xi0S4xOS8HY&list=PLyf8LgkO_8q9s03G9XbGKMjaM18rwPe_j">Ссылка на плейлист с уроками</a>
<h3>4. Noodz</h3>
Яркий сайт, свёрстанный с использованием базового стека HTML/CSS/JS, а также Webpack и БЭМ. В оригинальном макете не было адаптивной версии сайта, так что мне пришлось делать её самой. Кстати, у моего сайта есть <a href="https://www.wearenoodz.com/">реальный прототип</a>, который ещё более навороченный.<br>
<a href="https://ella-ksenofontova.github.io/Noodz">Сайт</a> <br>
<a href="https://github.com/Ella-Ksenofontova/Noodz">Репозиторий</a><br>
<a href="https://verstaem.online/projects/noodz/">Источник макета</a><br>
<a href="https://www.flaticon.com/authors/joalfa">Автор иконки крестика, использованной на сайте</a>
<h3>5. Zero Design</h3>
Одностраничный сайт, предлагающий готовые шаблоны для Webflow (это конструктор и хостинг для сайтов). Сделан с использованием базовых технологий, а также методологии БЭМ. Для сборки я использовала Webpack.<br>
<a href="https://ella-ksenofontova.github.io/Zero-Design">Сайт</a> <br>
<a href="https://github.com/Ella-Ksenofontova/Zero-Design">Репозиторий (исходный код в корневой папке, готовый сайт - в папке docs)</a><br>
<a href="https://verstaem.online/projects/zero-design/">Источник макета</a><br>
<a href="https://www.flaticon.com/authors/freepik">Автор изображения, которое я использую в качестве фавикона</a>
<% } else { %>
<h3>1. Coca</h3>
Digital marketing website. Written in English. Mockup and live-preview were not complete, so I had to make up
part of my project by myself. Website has several pages, there are the following pages except Home:
<ul>
  <li>About</li>
  <li>Contacts</li>
  <li>Pricing</li>
  <li>Blog (also, there's two posts)</li>
</ul>
Website was deployed to Vercel because it has server side.<br />
I used the following technologies while working with this project:
<ul>
  <li>Webpack</li>
  <li>EJS</li>
  <li>Express.js</li>
  <li>BEM Methodology</li>
  <li>SASS</li>
</ul>
<a href="https://coca-topaz.vercel.app/">Project</a> <br />
<a href="https://github.com/Ella-Ksenofontova/coca">GitHub repository</a><br />
<a href="https://verstaem.online/projects/coca/">Source of mockup</a>
<h3>2. Aveji</h3>
Simple single-page site of furniture shop. <br>
<a href="https://ella-ksenofontova.github.io/aveji">Project</a> <br>
<a href="https://github.com/Ella-Ksenofontova/aveji">GitHub repository</a><br>
<a href="https://verstaem.online/projects/aveji/">Source of mockup</a>
<h3>3. Armata Financial Group</h3>
Single-page website sample of which was very old. It's not surprising that I used outdated technologies (like jQuery) working on this project. But it doesn't look bad.<br>
<a href="https://ella-ksenofontova.github.io/armataFG">Page</a> <br>
<a href="https://github.com/Ella-Ksenofontova/armataFG">Repository</a><br>
<a href="https://www.youtube.com/watch?v=Xi0S4xOS8HY&list=PLyf8LgkO_8q9s03G9XbGKMjaM18rwPe_j">Playlist with lessons</a>
<h3>4. Noodz</h3>
Bright website, made with basic stack HTML/CSS/JS, BEM and Webpack. Original mockup didn't have mobile version, so I had to create it by myself. By the way, my project has <a href="https://www.wearenoodz.com/">real prototype</a> that is much more elaborate.<br>
<a href="https://ella-ksenofontova.github.io/Noodz">Website</a> <br>
<a href="https://github.com/Ella-Ksenofontova/Noodz">Repository</a><br>
<a href="https://verstaem.online/projects/noodz/">Source of mockup</a><br>
<a href="https://www.flaticon.com/authors/joalfa">Author of cross icon that I use on website</a>
<h3>5. Zero Design</h3>
Single-page website, offering ready-to-use mockups for Webflow (website constructor and hosting). Made with basic technologies and BEM. I used Webpack to bundle it.<br>
<a href="https://ella-ksenofontova.github.io/Zero-Design">Website</a> <br>
<a href="https://github.com/Ella-Ksenofontova/Zero-Design">Repository (source code is in root directory, while ready site is in docs folder)</a><br>
<a href="https://verstaem.online/projects/zero-design/">Source of mockup</a>
<br>
<a href="https://www.flaticon.com/authors/freepik">Author of image that is being used as favicon in this project</a>
<% } %>