<% if (lang==="ru") { %>
<h3>1. Coca</h3>
Сайт компании, оказывающей услуги в области цифрового маркетинга. Написан на английском языке. Макет и
лайв-превью были неполными, поэтому часть проекта мне пришлось "домысливать". Сайт многостраничный, помимо
главной страницы есть следующие разделы:
<ul>
  <li>О компании</li>
  <li>Контакты</li>
  <li>Тарифы</li>
  <li>Блог (вдобавок, есть один пост)</li>
</ul>
Размещён сайт не на Github, а на Vercel, так как есть серверная часть.<br />
При работе над проектом я использовала следующие технологии:
<ul>
  <li>Webpack</li>
  <li>EJS</li>
  <li>Express.js</li>
  <li>Методология БЭМ</li>
  <li>SASS</li>
</ul>
<a href="https://coca-topaz.vercel.app/">Ссылка на страницу</a> <br />
<a href="https://github.com/Ella-Ksenofontova/coca">Ссылка на репозиторий</a><br />
<a href="https://verstaem.online/projects/coca/">Ссылка на источник макета</a>
<% } else { %>
<h3>1. Coca</h3>
Digital marketing website. Written in English. Mockup and live-preview were not complete, so I had to make up
part of my project by myself. Website has several pages, there are the following pages except Home:
<ul>
  <li>About</li>
  <li>Contacts</li>
  <li>Pricing</li>
  <li>Blog (also, there's one post)</li>
</ul>
Website was deployed to Vercel because it has server side.<br />
I used the following technologies while working with this project:
<ul>
  <li>Webpack</li>
  <li>EJS</li>
  <li>Express.js</li>
  <li>BEM Methodology</li>
  <li>SASS</li>
</ul>
<a href="https://coca-topaz.vercel.app/">Link to the project</a> <br />
<a href="https://github.com/Ella-Ksenofontova/coca">Link to GitHub repository</a><br />
<a href="https://verstaem.online/projects/coca/">Link to the source of mockup</a>
<% } %>