<% if(lang==="ru") { %>
<ul>
  <li>Организованна, трудолюбива и целеустремлённа</li>
  <li>Обладаю хорошей памятью</li>
  <li>Стремлюсь помочь другим</li>
  <li>Грамотно пишу как на русском, так и на английском</li>
</ul>
<% } else { %>
<ul>
  <li>Organised, hard-working and purposeful</li>
  <li>Have a good memory</li>
  <li>Willing to help others</li>
  <li>Write correctly both in Russian and English</li>
</ul>
<% } %>